.buttons-block {
  margin-top: 20px;
}

.garage__title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

.create-car, .update-car {
  display: flex;
  align-items: center;
  input {
    margin-right: 10px;
  }
}